<div class="section t-section km-view-section d-flex">
  <div class="toolbar-button km-product-tool d-flex">
    <div class="toolbar-button page-number">
      <span class="left-icon disable" id="prevPage"></span>
      <label class="d-inlineflex"><span id="displayed-page">1</span>&nbsp;<span id="total-page-count" class="color-disable" totalPage="1">of 1</span></label>
      <span class="right-icon" id="nextPage"></span>
    </div>
    <div class="border-left"></div>
    <div class="toolbar-button zoom-button">
      <button data-cursor="PSelect" id="zoom-out" data-view="zoomOut" class="left-attached attached-button tool-view" style="width: 15px;">-</button>
      <button data-cursor="PSelect" id="zoomb" onmouseover="tooltipfn(this)" class="action-button tool-view kmzoom" data-view="zoomb" data-km-toggle="tooltip" data-placement="bottom" data-title="Zoom" data-action="zoomb">
        <i class="fa fa-search-plus kmzoom"></i>
        <span class="caption">100%</span>
      </button>
      <button data-cursor="PSelect" id="zoom-in" data-view="zoomIn" class="right-attached attached-button tool-view zoomb" style="width: 15px;">+</button>
      <ul class="g-menu g-menu-bottom fixed zoomb km-zoom-levels kmzoom" style="display: none;">
        <li data-cursor="PSelect" class="g-menu-item tool-view kmzoom" data-view="zoomInList" data-value="25">
          <span class="kmzoom 25%" id="25%_tool">25%</span>
        </li>
        <li data-cursor="PSelect" class="g-menu-item tool-view kmzoom" data-view="zoomInList" data-value="50">
          <span class="kmzoom 50%" id="50%_tool">50%</span>
        </li>
        <li data-cursor="PSelect" class="g-menu-item tool-view kmzoom" data-view="zoomInList" data-value="100">
          <span class="kmzoom 100%" id="100%_tool">100%</span>
        </li>
        <li data-cursor="PSelect" class="g-menu-item tool-view kmzoom" data-view="zoomInList" data-value="150">
          <span class="kmzoom 150%" id="150%_tool">150%</span>
        </li>
        <li data-cursor="PSelect" class="g-menu-item tool-view kmzoom" data-view="zoomInList" data-value="200">
          <span class="kmzoom 200%" id="200%_tool">200%</span>
        </li>
        <li data-cursor="PSelect" class="g-menu-item tool-view kmzoom" data-view="zoomInList" data-value="300">
          <span class="kmzoom 300%" id="300%_tool">300%</span>
        </li>
        <li data-cursor="PSelect" class="g-menu-item tool-view kmzoom" data-view="zoomInList" data-value="400">
          <span class="kmzoom 400%" id="400%_tool">400%</span>
        </li>
        <li data-cursor="PSelect" class="g-menu-item tool-view kmzoom" data-view="zoomInList" data-value="800">
          <span class="kmzoom 800%" id="800%_tool">800%</span>
        </li>
      </ul>
    </div>
    <div class="border-left"></div>
    <div class="toolbar-button km-expand-div">
      <button data-cursor="PSelect" id="fit-all" onmouseover="tooltipfn(this)" class="action-button tool-view km-expand" data-view="fitpage" data-km-toggle="tooltip" data-placement="bottom" data-title="Fit All" fitall="0"></button>
    </div>
    <div class="toolbar-button dropdown">
      <button data-cursor="PHandpan" id="handtool" onmouseover="tooltipfn(this)" class="action-button tool-view" data-view="handPan" data-km-toggle="tooltip" data-placement="bottom" data-title="View"><i class="far fa-hand-paper"></i></button>
    </div>
    <!--<div class="toolbar-button dropdown">
      <button data-cursor="PSelect" id="snaptool" onmouseover="tooltipfn(this)" class="action-button tool-view" data-view="snap" data-km-toggle="tooltip" data-placement="bottom" data-title="Snap"><i class="fa fa-magnet fa-rotate-180"></i></button>
    </div>-->
    <div class="toolbar-button toolbar-Select dropdown">
      <button id="selecttool" data-cursor="PSelect" class="action-button tool-view drawingtool g-active" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Select" data-view="selectPan">
        <i class="fas fa-mouse-pointer"></i>
      </button>
    </div>
  </div>
  <!--Textbox tool-->
  <div class="toolbar-button textbox-tool d-flex d-none">
    <div class="textbox-title d-none">Text&nbsp;<span class="fas fa-play image-list-caret"></span></div>
    <div class="border-left"></div>
    <div class="textbox-fonts">
      <select class="w-100 rightProp" id="font-family" data-pro="fontFamily" data-right-prop="fontFamily">
        <option style="font-family:Abel" value="Abel">Abel</option>
        <option style="font-family:Abril Fatface" value="Abril Fatface">Abril Fatface</option>
        <option style="font-family:Alegreya" value="Alegreya">Alegreya</option>
        <option style="font-family:Alice" value="Alice">Alice</option>
        <option style="font-family:Amaranth" value="Amaranth">Amaranth</option>
        <option style="font-family:Amatic SC" value="Amatic SC">Amatic SC</option>
        <option style="font-family:Baloo" value="Baloo">Baloo</option>
        <option style="font-family:Cantarell" value="Cantarell">Cantarell</option>
        <option style="font-family:Cherry Cream Soda" value="Cherry Cream Soda">Cherry Cream Soda</option>
        <option style="font-family:Corben" value="Corben">Corben</option>
        <option style="font-family:Coustard Ultra" value="Coustard Ultra">Coustard Ultra</option>
        <option style="font-family:Dancing Script" value="Dancing Script">Dancing Script</option>
        <option style="font-family:Dosis" value="Dosis">Dosis</option>
        <option style="font-family:Droid Serif" value="Droid Serif">Droid Serif</option>
        <option style="font-family:EB Garamond" value="EB Garamond">EB Garamond</option>
        <option style="font-family:Elsie" value="Elsie">Elsie</option>
        <option style="font-family:Fjalla One" value="Fjalla One">Fjalla One</option>
        <option style="font-family:Grand Hotel" value="Grand Hotel">Grand Hotel</option>
        <option style="font-family:Josefin Sans" value="Josefin Sans">Josefin Sans</option>
        <option style="font-family:Lato" value="Lato">Lato</option>
        <option style="font-family:Leckerli One" value="Leckerli One">Leckerli One</option>
        <option style="font-family:Libre Baskerville" value="Libre Baskerville">Libre Baskerville</option>
        <option style="font-family:Lora" value="Lora">Lora</option>
        <option style="font-family:Medula One" value="Medula One">Medula One</option>
        <option style="font-family:Merriweather" value="Merriweather">Merriweather</option>
        <option style="font-family:Montserrat" value="Montserrat">Montserrat</option>
        <option style="font-family:Muli" value="Muli">Muli</option>
        <option style="font-family:Nobile" value="Nobile">Nobile</option>
        <option style="font-family:Noto Sans" value="Noto Sans">Noto Sans</option>
        <option style="font-family:Open Sans" value="Open Sans" selected="">Open Sans</option>
        <option style="font-family:Open Sans Condensed" value="Open Sans Condensed">Open Sans Condensed</option>
        <option style="font-family:Oswald" value="Oswald">Oswald</option>
        <option style="font-family:Palanquin" value="Palanquin">Palanquin</option>
        <option style="font-family:Philosopher" value="Philosopher">Philosopher</option>
        <option style="font-family:Playfair Display" value="Playfair Display">Playfair Display</option>
        <option style="font-family:Poppins" value="Poppins">Poppins</option>
        <option style="font-family:PT Sans" value="PT Sans">PT Sans</option>
        <option style="font-family:PT Sans Narrow" value="PT Sans Narrow">PT Sans Narrow</option>
        <option style="font-family:Quattrocento Sans" value="Quattrocento Sans">Quattrocento Sans</option>
        <option style="font-family:Raleway" value="Raleway">Raleway</option>
        <option style="font-family:Roboto" value="Roboto">Roboto</option>
        <option style="font-family:Roboto Condensed" value="Roboto Condensed">Roboto Condensed</option>
        <option style="font-family:Roboto Slab" value="Roboto Slab">Roboto Slab</option>
        <option style="font-family:Roboto Thin" value="Roboto Thin">Roboto Thin</option>
        <option style="font-family:Sansita" value="Sansita">Sansita</option>
        <option style="font-family:Six Caps" value="Six Caps">Six Caps</option>
        <option style="font-family:Source Sans Pro" value="Source Sans Pro">Source Sans Pro</option>
        <option style="font-family:Space Mono" value="Space Mono">Space Mono</option>
        <option style="font-family:Spirax" value="Spirax">Spirax</option>
        <option style="font-family:Vollkorn" value="Vollkorn">Vollkorn</option>
        <option style="font-family:Wendy One" value="Wendy One">Wendy One</option>
      </select>
    </div>
    <div class="textbox-style">
      <select data-property="preset-font-style" class="w-100" id="fstyle">
        <option value="300#N">Light</option>
        <option value="300#I">Light Italic</option>
        <option value="400#N" selected="">Regular</option>
        <option value="400#I">Regular Italic</option>
        <option value="600#N">Semi-Bold</option>
        <option value="600#I">Semi-Bold Italic</option>
        <option value="700#N">Bold</option>
        <option value="700#I">Bold Italic</option>
        <option value="800#N">Extra-Bold</option>
        <option value="800#I">Extra-Bold Italic</option>
      </select>
    </div>
    <div class="textbox-size">
      <div class="dropdown">
        <input value="24" id="text-font-size" data-pro="fontSize" data-right-prop="fontSize" onclick="textSizeList()" class="dropbtn w-100 p-1" />
        <div id="myDropdown" class="dropdown-content">
          <div class="option-item" datavalue="6">6 px</div>
          <div class="option-item" datavalue="7">7 px</div>
          <div class="option-item" datavalue="8">8 px</div>
          <div class="option-item" datavalue="9">9 px</div>
          <div class="option-item" datavalue="10">10 px</div>
          <div class="option-item" datavalue="11">11 px</div>
          <div class="option-item" datavalue="12">12 px</div>
          <div class="option-item" datavalue="14">14 px</div>
          <div class="option-item" datavalue="18">18 px</div>
          <div class="option-item" datavalue="21">21 px</div>
          <div class="option-item" datavalue="24">24 px</div>
          <div class="option-item" datavalue="36">36 px</div>
          <div class="option-item" datavalue="48">48 px</div>
          <div class="option-item" datavalue="66">60 px</div>
          <div class="option-item" datavalue="72">72 px</div>
        </div>
        <span class="dropdown-content-icon" onclick="textSizeList()"><i class="fas fa-chevron-down"></i></span>
      </div>
    </div>
    <div class="textbox-color d-flex">
      <div class="border-left"></div>
      <div id="color-label">Color</div>
      <label class="ml-2 text-left w-25">
        <input type="text" id="kmds-color-fill" class="kmds-color-section apri jsscolor active" data-right-prop="fill" data-pro="kmdstextcolor" data-value="fill" value="#000000" readonly="">
      </label>
    </div>
    <div class="text-alignments d-flex">
      <div class="border-left"></div>
      <div class="text-align-left">
        <div class="content">
          <button data-value="left" data-right-prop="textAlign" data-pro="textAlign" value="left" id="align-left" class="align apri rightProp" data-property="align-left" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Align Left" data-original-title="" title="">
            <span class="fas fa-align-left"></span>
          </button>
        </div>
      </div>
      <div class="text-align-center">
        <div class="content">
          <button data-value="center" data-right-prop="textAlign" data-pro="textAlign" value="center" id="align-center" class="align apri rightProp g-active" data-property="align-center" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Align Center" data-original-title="" title="">
            <span class="fas fa-align-center"></span>
          </button>
        </div>
      </div>
      <div class="text-align-right">
        <div class="content">
          <button data-value="right" data-right-prop="textAlign" data-pro="textAlign" value="right" id="align-right" class="align apri rightProp" data-property="align-right" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Align Right" data-original-title="" title="">
            <span class="fas fa-align-right"></span>
          </button>
        </div>
      </div>
      <div class="text-align-justify">
        <div class="content">
          <button data-value="justify" data-right-prop="textAlign" data-pro="textAlign" value="justify" id="align-justify" class="align apri rightProp" data-property="align-justify" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Align Justify" data-original-title="" title="">
            <span class="fas fa-align-justify"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="km-brand-tool d-flex">
      {% if data.user_professional_access == 0 %}
        <div class="km-user-action textbox-action d-flex" user-action="{{data.user_action}}">
          <span class="object-action lock" obj_sec="textbox-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Unlock object" data-original-title="" title="">&nbsp;</span>
          <span class="object-action unlock d-none" obj_sec="textbox-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Lock object" data-original-title="" title="">&nbsp;</span>
        </div>
        <div class="km-user-action textbox-action d-flex" user-action="{{data.user_action}}">
          <span class="object-action add-new" obj_sec="textbox-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Add new object" data-original-title="" title="">&nbsp;</span>
        </div>
        <div class="km-user-action textbox-action d-flex" user-action="{{data.user_action}}">
          <span class="object-action bringforward" obj_sec="textbox-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Bring forward object" data-original-title="" title="">&nbsp;</span>
        </div>
        <div class="km-user-action textbox-action d-flex" user-action="{{data.user_action}}">
          <span class="object-action sendbackward" obj_sec="textbox-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Send backward object" data-original-title="" title="">&nbsp;</span>
        </div>
      {% endif %}
        <div class="km-user-action textbox-action d-flex" user-action="all-user">
          <span class="object-action delete" obj_sec="textbox-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Delete object" data-original-title="" title="">&nbsp;</span>
        </div>
      {% if data.user_professional_access == 0 %}
      <div class="border-left"></div>
      <div class="textbox-brand km-brand display-inline">
        <label>
          <input type="checkbox" id="km-textbox-brand" value="1" class="form-checkbox km-smart-guides"/>
          <label class="checkb" for="km-textbox-brand"></label>
          <span class="ml-2">Snap</span>
        </label>
      </div>
      <div class="textbox-add-text display-inline">
        <button type="submit" id="add-text" name="op" value="add" class="button form-submit btn btn-primary font-fjalla">Add Text</button>
      </div>
      {% endif %}
    </div>
  </div>
  <!--Image tool-->
  <div class="toolbar-button image-tool d-flex d-none">
    <div class="image-title d-none">Image&nbsp;<span class="fas fa-play image-list-caret"></span></div>
    <div class="border-left"></div>
    <div class="image-crop-wrapper">
      <div class="crop-wrapper">
        <img src="/modules/custom/km_product/images/imageeditor-3b3b3b-128px.png" id="kmImageCrop" class="km-image-crop active" width="25" height="auto" />
      </div>
    </div>
    <div class="border-left"></div>
    {% if data.user_action == 1 %}
    {% endif %}
      <div class="km-user-image-action image-action d-flex" user-action="{{data.user_action}}">
        <span class="object-action lock" obj_sec="image-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Unlock object" data-original-title="" title="">&nbsp;</span>
        <span class="object-action unlock d-none" obj_sec="image-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Lock object" data-original-title="" title="">&nbsp;</span>
      </div>
    {% if data.user_professional_access == 0 %}
      <div class="km-user-action image-action d-flex" user-action="{{data.user_action}}">
        <span class="object-action add-new" obj_sec="image-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Add new object" data-original-title="" title="">&nbsp;</span>
      </div>
      <div class="km-user-action image-action d-flex" user-action="{{data.user_action}}">
        <span class="object-action bringforward" obj_sec="image-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Bring forward object" data-original-title="" title="">&nbsp;</span>
      </div>
      <div class="km-user-action image-action d-flex" user-action="{{data.user_action}}">
        <span class="object-action sendbackward" obj_sec="image-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Send backward object" data-original-title="" title="">&nbsp;</span>
      </div>
    {% endif %}
      <div class="km-user-action image-action d-flex" user-action="all-user">
        <span class="object-action delete" obj_sec="image-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Delete object" data-original-title="" title="">&nbsp;</span>
      </div>
    {% if data.user_professional_access == 0 %}
      <div class="border-left"></div>
      <div class="image-brand km-brand display-inline">
        <label>
          <input type="checkbox" id="km-image-brand" value="1" class="form-checkbox km-smart-guides"/>
          <label class="checkb" for="km-image-brand"></label>
          <span class="ml-2">Snap</span>
        </label>
      </div>
    {% endif %}
  </div>
  <!--Shape tool-->
  <div class="toolbar-button shape-tool d-flex d-none">
    <div class="shape-title d-none">Shape&nbsp;<span class="fas fa-play image-list-caret"></span></div>
    <div class="border-left"></div>
    <div class="shape-fill shape-tool-width">
      <div class="shape-fill-title km-title display-inline">Fill</div>
      <div class="ml-2 text-left display-inline">
        <input type="text" id="kmds-shape-fill" class="kmds-shape-section apri jsscolor km-input" data-right-prop="fill" data-pro="kmdsshapefill" data-value="fill" value="#ffffff" readonly="" style="background-color: rgb(240, 239, 239); color: rgb(255, 255, 255);" />
      </div>
    </div>
    <div class="border-left"></div>
    <div class="shape-border shape-tool-width">
      <div class="shape-fill-title km-title display-inline">Border</div>
      <div class="ml-2 text-left display-inline">
        <input type="text" id="kmds-shape-border" class="kmds-shape-border-section apri jsscolor km-input" data-right-prop="stroke" data-pro="kmdsshapeborder" data-value="stroke" value="#000000" readonly="" style="background-color: rgb(40, 128, 230); color: rgb(0, 0, 0);" />
      </div>
      <div class="align-items-center display-inline">
        <input type="text" class="rightProp km-input" id="shape-border-stroke-num" value="1"><span class="border-unit">&nbsp;px</span>
      </div>
    </div>
    <div class="km-brand-tool d-flex">
      {% if data.user_professional_access == 0 %}
        <div class="km-user-action shape-action d-flex" user-action="{{data.user_action}}">
          <span class="object-action lock" obj_sec="shape-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Unlock object" data-original-title="" title="">&nbsp;</span>
          <span class="object-action unlock d-none" obj_sec="shape-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Lock object" data-original-title="" title="">&nbsp;</span>
        </div>
        <div class="km-user-action shape-action d-flex" user-action="{{data.user_action}}">
          <span class="object-action add-new" obj_sec="shape-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Add new object" data-original-title="" title="">&nbsp;</span>
        </div>
        <div class="km-user-action shape-action d-flex" user-action="{{data.user_action}}">
          <span class="object-action bringforward" obj_sec="shape-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Bring forward object" data-original-title="" title="">&nbsp;</span>
        </div>
        <div class="km-user-action shape-action d-flex" user-action="{{data.user_action}}">
          <span class="object-action sendbackward" obj_sec="shape-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Send backward object" data-original-title="" title="">&nbsp;</span>
        </div>
      {% endif %}
        <div class="km-user-action shape-action d-flex" user-action="all-user">
          <span class="object-action delete" obj_sec="shape-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Delete object" data-original-title="" title="">&nbsp;</span>
        </div>
      {% if data.user_professional_access == 0 %}
      <div class="border-left"></div>
      <div class="shape-brand km-brand display-inline">
        <label>
          <input type="checkbox" id="km-shape-brand" value="1" class="form-checkbox km-smart-guides"/>
          <label class="checkb" for="km-shape-brand"></label>
          <span class="ml-2">Snap</span>
        </label>
      </div>
      <div class="shape-add-shape display-inline">
        <button type="submit" id="add-shape" name="op" value="add" class="button form-submit btn btn-primary font-fjalla">Add Shape</button>
      </div>
      {% endif %}
    </div>
  </div>
  <!--LineShape tool-->
  <div class="toolbar-button lineshape-tool d-flex d-none">
    <div class="lineshape-title d-none">Line&nbsp;<span class="fas fa-play image-list-caret"></span></div>
    <div class="border-left"></div>
    <div class="shape-border shape-tool-width">
      <div class="shape-fill-title km-title display-inline">Fill</div>
      <div class="ml-2 text-left display-inline">
        <input type="text" id="kmds-lineshape-border" class="kmds-shape-border-section apri jsscolor km-input" data-right-prop="stroke" data-pro="kmdsshapeborder" data-value="stroke" value="#000000" readonly="" style="background-color: rgb(40, 128, 230); color: rgb(0, 0, 0);" />
      </div>
      <div class="align-items-center display-inline">
        <input type="text" class="rightProp km-input" id="lineshape-border-stroke-num" value="1"><span class="border-unit">&nbsp;px</span>
      </div>
    </div>
    <div class="km-brand-tool d-flex">
      {% if data.user_professional_access == 0 %}
        <div class="km-user-action lineshape-action d-flex" user-action="{{data.user_action}}">
          <span class="object-action lock" obj_sec="lineshape-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Unlock object" data-original-title="" title="">&nbsp;</span>
          <span class="object-action unlock d-none" obj_sec="lineshape-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Lock object" data-original-title="" title="">&nbsp;</span>
        </div>
        <div class="km-user-action lineshape-action d-flex" user-action="{{data.user_action}}">
          <span class="object-action add-new" obj_sec="lineshape-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Add new object" data-original-title="" title="">&nbsp;</span>
        </div>
        <div class="km-user-action lineshape-action d-flex" user-action="{{data.user_action}}">
          <span class="object-action bringforward" obj_sec="lineshape-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Bring forward object" data-original-title="" title="">&nbsp;</span>
        </div>
        <div class="km-user-action lineshape-action d-flex" user-action="{{data.user_action}}">
          <span class="object-action sendbackward" obj_sec="lineshape-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Send backward object" data-original-title="" title="">&nbsp;</span>
        </div>
      {% endif %}
        <div class="km-user-action lineshape-action d-flex" user-action="all-user">
          <span class="object-action delete" obj_sec="lineshape-action" onmouseover="tooltipfn(this)" data-km-toggle="tooltip" data-placement="bottom" data-title="Delete object" data-original-title="" title="">&nbsp;</span>
        </div>
      {% if data.user_professional_access == 0 %}
      <div class="border-left"></div>
      <div class="shape-brand km-brand display-inline">
        <label>
          <input type="checkbox" id="km-lineshape-brand" value="1" class="form-checkbox km-smart-guides"/>
          <label class="checkb" for="km-lineshape-brand"></label>
          <span class="ml-2">Snap</span>
        </label>
      </div>
      {% endif %}
    </div>
  </div>
</div>