<div class="websection1 wm-image"> 
  <div class="open-ckeditor" data-obj-type="image" id="webregionblock1" style="padding: 10px 0; margin: 5px;text-align: center;">
  {{ webregionblock1 }} 
  </div>
</div>
<div class="websection2 wm-headline"> 
  <div class="open-ckeditor" data-obj-type="text" id="webregionblock2" ondblclick="customCkeditor(this)" style="padding: 10px 0; margin: 5px; line-height: 1.2; font-size: 26px; text-transform: uppercase; color: #023364; font-family: 'Fjalla One';"> 
    {{ webregionblock2 }} 
  </div>
</div>
<div class="websection3 wm-subheadline"> 
  <div class="open-ckeditor" data-obj-type="text" id="webregionblock3" ondblclick="customCkeditor(this)" style="line-height: 1.2;font-size: 21px;text-transform: capitalize;color: #000000;padding: 10px 0;margin: 5px; "> 
    {{ webregionblock3 }} 
  </div>
</div>
<div class="websection4 wm-text"> 
  <div class="open-ckeditor" data-obj-type="text" id="webregionblock4" ondblclick="customCkeditor(this)" style="background: #F7F7F7;line-height: 1.5;font-size: 16px;padding: 10px 0;margin: 5px;color: #000000; "> 
    {{ webregionblock4 }} 
  </div>
</div>
<div class="websection5 wm-subheadline"> 
  <div class="open-ckeditor" data-obj-type="text" id="webregionblock5" ondblclick="customCkeditor(this)" style="line-height: 1.2;font-size: 21px;text-transform: capitalize;color: #000000;padding: 10px 0;margin: 5px; "> 
    {{ webregionblock5 }} 
  </div>
</div>
<div class="websection6 wm-text"> 
  <div class="open-ckeditor" data-obj-type="text" id="webregionblock6" ondblclick="customCkeditor(this)" style="background: #F7F7F7;line-height: 1.5;font-size: 16px;padding: 10px 0;margin: 5px;color: #000000; "> 
    {{ webregionblock6 }} 
  </div>
</div>
